<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appnews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC44BD071DA28B74006EA3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC44BD1B1DA28B74006EA3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC44BD261DA28B74006EA3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
